<div class="cart box_1" style="float: left">
    <a>
        <h2>
            <div class="total">
                <span class="simpleCart_total">Shopping Cart <img src="app/images/shoppingcart.png" alt=""> </span>
            </div>
        </h2>
    </a>
</div>

<div class="cart box_1" style="float: right">
    <a href="/shoppingcart/#/">
        <h4>
            <div class="total">
                <span class="simpleCart_total">0 &nbsp; Items</span>
                <img src="app/images/cart.png" alt=""> |
                <span class="simpleCart_total">Rs.&nbsp; 0.00</span>


            </div>
        </h4>
    </a>
    <p><a href="javascript:;" class="simpleCart_empty" style="color: red">Empty Cart</a></p>
</div>

<div class="panel-body">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Update | Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="x in shoppingCart">
            <td>{{ x.id }}</td>
            <td>{{ x.product.name }}</td>
            <td>Rs. &nbsp;{{ x.amount }}</td>
            <td>{{ x.stock }}</td>
            <!--<td>{{ x.description }}</td>-->
            <!--<td><input class="form-control" type="number" required="required" ng-model="stock" style="width: 75px"/>-->
            <!--</td>-->
            <!--<td>-->
                <!--<button type="submit" class="btn btn-primary" ng-click="addToCart(x,stock)">Add to Cart &nbsp; <span-->
                        <!--class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>-->
                <!--</a>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>
