<div class="cart box_1" style="float: right">
    <a href="checkout.html">
        <h4>
            <div class="total">
                <span class="simpleCart_total">{{ itemCounter }} &nbsp; Items</span>
                <img src="app/images/cart.png" alt=""> |
                <span class="simpleCart_total">Rs.&nbsp; 0.00</span>


            </div>
        </h4>
    </a>
    <p><a href="javascript:;" class="simpleCart_empty" style="color: red">Empty Cart</a></p>

</div>

<div class="panel-body">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Add to Cart</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="x in products">
            <td>{{ x.id }}</td>
            <td>{{ x.name }}</td>
            <td>Rs. &nbsp;{{ x.unitPrice }}</td>
            <td>{{ x.description }}</td>
            <td><input type="number" ng-model="stock"/></td>
            <td>
                <!--<p><i><a href="#" class="btn btn-primary" role="button">Add-->
                <!--to Cart</a></i></p>-->
                <button type="submit" class="btn btn-primary" ng-click="addToCart(x,stock)">Add to Cart</button>
                <!--<a href="#/products" class="btn btn-primary">Add to Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>-->
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
